.weather {
  display: grid;
  grid-template-columns: 1fr 1fr;

  > * {
    border: 1px solid rgba(255, 255, 255, 0.7);
    background-color: rgba(150, 175, 230, 0.5);
    margin: 1px;
    border-radius: 3px;
    padding: 1rem;
  }

  .description {
    text-align: center;
  }

  .numbers-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;

    > * {
      display: grid;
      grid-template-columns: 1fr;
    }

    .numbers {
      justify-items: end;
    }
  }
}

.hide {
  display: none;
}
